/* -*- Mode: CSS; tab-width: 4; indent-tabs-mode: nil; -*- */
/* vim:set ft=css ts=4 sw=4 sts=4 autoindent: */


/* Frankenbrat stylesheet. */

.connection-failed {
  text-align: center;
}

.connection-failed #code {
  font-family: "Courier New", Courier, monospace;
}

.btn-tag {
  font-weight: bold;
}
