<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en-GB" xml:lang="en-GB" xmlns="http://www.w3.org/1999/xhtml" data-ng-app="charlesApp">

<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <title>CHARLES</title>

  <!-- AngularJS -->
  <script src="/lib/angular.min.js"></script>
  <script src="/lib/angular-resource.min.js"></script>
  <script src="/lib/ui-bootstrap-tpls-0.12.1.min.js"></script>

  <!-- Firebase -->
  <script src="https://cdn.firebase.com/js/client/2.2.4/firebase.js"></script>
  <!-- AngularFire -->
  <script src="https://cdn.firebase.com/libs/angularfire/1.1.1/angularfire.min.js"></script>

  <link rel="stylesheet" href="/lib/bootstrap.min.css">
  <link rel="stylesheet" href="/lib/bootstrap-theme.min.css">
  <link rel="stylesheet" type="text/css" href="css/brat-style.css" />
  <link rel="stylesheet" type="text/css" href="css/style.css" />
  <link rel="stylesheet" type="text/css" href="css/style-vis.css" />
  <link rel="stylesheet" type="text/css" href="css/jquery-theme/jquery-ui-redmond.css" />
  <link rel="stylesheet" type="text/css" href="css/select.min.css" />

  <script type="text/javascript">
    // Returns the value of a URL variable. (If it doesn't exist, then it returns null.)
    function getQueryVariable(variable) {
      var query = window.location.search.substring(1);
      var vars = query.split("&");
      for (var i = 0; i < vars.length; i++) {
        var pair = vars[i].split("=");
        if (pair[0] == variable)
          return pair[1];
      }
      return null;
    }
  </script>

  <script type="text/javascript" src="lib/head.load.min.js"></script>
  <script type="text/javascript" src="lib/json2.js"></script>
  <script type="text/javascript" src="lib/contextMenu.js"></script>
  <script type="text/javascript" src="lib/select.min.js"></script>
  <script type="text/javascript" src="lib/spin.min.js"></script>
  
  <script type="text/javascript" src="js/app.js"></script>
  <script type="text/javascript" src="js/domain.js"></script>
  <script type="text/javascript" src="js/controllers/brat.js"></script>
  <script type="text/javascript" src="js/services/config.js"></script>
  <script type="text/javascript" src="js/controllers/context_menu.js"></script> 
  <script type="text/javascript" src="js/controllers/delete_tag.js"></script>
  <script type="text/javascript" src="js/controllers/doc_selector.js"></script>
  <script type="text/javascript" src="js/controllers/group_tag.js"></script>
  <script type="text/javascript" src="js/controllers/log.js"></script>
  <script type="text/javascript" src="js/controllers/main.js"></script>
  <script type="text/javascript" src="js/controllers/navigation.js"></script>
  <script type="text/javascript" src="js/controllers/show.js"></script>
  <script type="text/javascript" src="js/controllers/spinner.js"></script>
  <script type="text/javascript" src="js/controllers/tag.js"></script>
</head>

<body>

  <div ng-controller="mainController as mainCtrl">

    <div class="alert alert-danger connection-failed" role="alert" style="height: 100vh;" ng-if="!mainCtrl.connectedToFirebase()">
      <h1>Connection to Firebase Failed</h1>
      <p>
        Check that the <span id="code">FB</span> instance exists and its
        <span id="code">link</span> property is properly set.
      </p>
    </div>
    <!-- alert -->

    <!-- Doesn't work without importing Bootstrap's glyphicons. -->
    <style type="text/css">
      @import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc2/css/bootstrap-glyphicons.css");
    </style>

    <div id="main" class="container" ng-if="mainCtrl.connectedToFirebase()" ng-controller="bratController" ng-click="selectEntity($event)" tabindex="0" ng-keypress="nextSelection($event)">
      <div class="row">
        <div id="content" class="col-sm-7 left-pane">

          <div>
            <h1 class="title">Welcome to CHARLES!</h1>
            <h3 class="sub-title">(CHAracter Resolution Label-Entry System)</h3>
          </div>

          <div>
            <h3 style="text-align:center">Resolve the aliases to characters in these passages from <i>Pride and Prejudice</i></h3>
          </div>

          <div id="spinner" ng-controller="spinnerController"></div>

          <script type="text/ng-template" id="docSelectorModalContent.html">
            <div class="modal-header">
              <h3 class="modal-title">Select a Document</h3>
            </div>
            <div class="modal-body">
              <div ng-repeat="nameIndex in docNameIndexData">
                <a ng-click="selected.nameIndex = nameIndex">{{ nameIndex.name }}</a>
              </div>
              <p style="margin-top: 5px;">Go to <b>{{ selected.nameIndex.name }}</b></p>
            </div>
            <div class="modal-footer">
              <button class="btn btn-primary" ng-click="ok()">Go</button>
              <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
            </div>
          </script>

          <div style="margin: 15px auto 5px;" ng-controller="navigationController">
            <center>
              <div style="margin-bottom:40px">
                <button type="button" class="btn btn-default btn-lg" ng-click="selectDoc()"><strong>Select Document</strong></button>
              </div>

              <button type="button" class="btn btn-default btn-lg" ng-click="previousDoc()" ng-disabled="docIndex <= 0">
                <span class="glyphicon glyphicon-arrow-left"></span> &nbsp; Prev
              </button>
              <p style="display: inline;margin: 0 30px;padding-top: 10px;font-size:20px;font-weight:bold;">{{docData.name}}</p>
              <button type="button" class="btn btn-default btn-lg" ng-click="nextDoc()" ng-disabled="docIndex >= docNameIndexData.length - 1">
                Next &nbsp; <span class="glyphicon glyphicon-arrow-right"></span>
              </button>
            </center>
          </div>

          <style type="text/css">
            text {
              font-size: 15px;
            }
            
            .span text {
              font-size: 10px;
            }
            
            .arcs text {
              font-size: 9px;
            }
          </style>

          <script type="text/javascript">
            var bratLocation = 'lib/brat/';

            head.js(
              // External libraries.
              bratLocation + '/client/lib/jquery.min.js',
              bratLocation + '/client/lib/jquery.svg.min.js',
              bratLocation + '/client/lib/jquery.svgdom.min.js',

              // brat helper modules.
              bratLocation + '/client/src/configuration.js',
              bratLocation + '/client/src/util.js',
              bratLocation + '/client/src/annotation_log.js',
              bratLocation + '/client/lib/webfont.js',

              // brat modules.
              bratLocation + '/client/src/dispatcher.js',
              bratLocation + '/client/src/url_monitor.js',
              bratLocation + '/client/src/visualizer.js'
            );

            var webFontURLs = [
              bratLocation + '/static/fonts/Astloch-Bold.ttf',
              bratLocation + '/static/fonts/PT_Sans-Caption-Web-Regular.ttf',
              bratLocation + '/static/fonts/Liberation_Sans-Regular.ttf'
            ];
          </script>
          {{selected}}
          <!--<div id="brat-view" ng-controller="bratController" tabindex="0" ng-click="selectEntity($event)" ng-keypress="nextSelection($event)"></div>-->
          <div id="brat-view" watch-selection></div>
        </div>

        <div class="col-sm-5 right-pane">
          <div class="panel panel-default character-annotation-panel" style="margin: 5px;">
            <div class="panel-heading">
              <h2>Character Tagging Panel</h2>
            </div>

            <div class="panel-body" ng-controller="tagController">

              <div class="tag-counters">
                <div class="tag-counter" align="center">
                  <button type="button" class="btn btn-default disabled alias-counter-btn" style="background: red;">ALIAS</button>'s Remaining: <b>{{aliasesRemaining}}</b>
                </div>
                <div class="tag-counter" align="center">
                  <button type="button" class="btn btn-default disabled unresolved-counter-btn" style="background: #39FF14;">UNRESOLVED</button>'s Remaining: <b>{{unresolvedsRemaining}}</b>
                </div>
              </div>
              <!-- tag-counters -->

              <script type="text/ng-template" id="showModalContent.html">
                <div class="modal-header">
                  <h3 class="modal-title">Instances of '{{ tag.type }}'</h3>
                </div>
                <div class="modal-body">
                  <div>
                    <carousel interval="myInterval">
                      <slide ng-repeat="slide in slides" active="slide.active">
                        <!-- <img ng-src="{{slide.image}}" style="margin:auto;"> -->
                        <div class="carousel-caption" style="position:relative;color:black;margin:auto;right:0;left:0;width:600px">
                          <h4>{{ slide.docName }}</h4>
                          <p>
                            ...{{ slide.pretext }} &nbsp;&nbsp;&nbsp;
                            <span style="color: red;font-weight: bold;">{{ slide.span }}</span> &nbsp;&nbsp;&nbsp; {{ slide.posttext }}...
                          </p>
                        </div>
                      </slide>
                    </carousel>
                  </div>

                </div>
                <div class="modal-footer">
                  <button class="btn btn-default" ng-click="close()">Close</button>
                </div>
              </script>

              <script type="text/ng-template" id="deleteTagModalContent.html">
                <div class="modal-header">
                  <h3 class="modal-title">Choose a Replacement Character</h3>
                </div>
                <div class="modal-body">
                  <div ng-repeat="item in items">
                    <a ng-click="selected.item = item">{{ item.type }}</a>
                  </div>
                  <p style="margin-top: 5px;">Replace with <b>{{ selected.item.type }}</b></p>
                </div>
                <div class="modal-footer">
                  <button class="btn btn-danger" ng-click="ok()">REPLACE</button>
                  <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
                </div>
              </script>

              <script type="text/ng-template" id="groupTagBuilderModalContent.html">
                <div class="modal-header">
                  <h3 class="modal-title">Group Tag Builder</h3>
                </div>
                <div class="modal-body">
                  <form accept-charset="UTF-8" action="/">
                    <div class='form-row'>

                      <div class='form-group required'>
                        <div class='error form-group hide'>
                          <div class='alert-danger alert'>
                            Please correct the errors and try again.
                          </div>
                        </div>

                        <label class='control-label'>Name</label>
                        <input class='form-control' size='4' maxlength="30" type='text' ng-model="group.name">
                      </div>

                    </div>

                    <div class='form-row'>
                      <div class='form-group required'>
                        <label class='control-label'>Characters</label>
                        <ui-select multiple ng-model="group.tags" class='form-control' size='4'>
                          <ui-select-match placeholder="Select tags..."><span style="text-shadow:none;font-weight:bold">{{$item.type}}</span></ui-select-match>
                          <ui-select-choices repeat="tag in tags | filter:$select.search">
                            {{tag.type}}
                          </ui-select-choices>
                        </ui-select>
                      </div>
                    </div>
                  </form>
                </div>
                <div class="modal-footer">
                  <button class="btn btn-success" ng-click="ok()">Create</button>
                  <button class="btn btn-primary" ng-click="cancel()">Cancel</button>
                </div>
              </script>

              <!--<div class="well well-sm" ng-controller="contextMenuController">-->
              <div ng-controller="contextMenuController">
                <div class="entity-selection">
                  <p align="center">Selected: <span class="selection" ng-if="selectedEntity">{{ span }}</span><span class="no-selection" ng-if="!selectedEntity">(NONE)</span></p>
                </div>

                <div class="taggable-non-character-tags-menu">
                  <ul class="list-group tag-list">
                    <li class="list-group-item tag-item" id="core-tag" ng-repeat="tag in taggableNonCharacterTags">
                      <div style="float:left">
                        <!--Using css classes to set the tag button background colours doesn't work here -->
                        <button class="btn btn-default btn-tag" context-menu="specialMenuOptions" ng-style="{background: tag.bgColor}" ng-click="setTag(tag)" ng-disabled="!selectedEntity">{{ tag.type }}</button>
                      </div>

                      <!--<div style="float:right">-->
                      <!--  <button class="btn btn-warning change-tag-btn" ng-click="changeTag(tag)" ng-disabled="!selectedEntity"><span class="glyphicon glyphicon-repeat"></span></button>-->
                      <!--</div>-->
                    </li>
                  </ul>
                </div>
                <!-- taggable-non-character-tags-menu -->

                <div id="custom-search-input">
                  <div class="input-group col-md-12">
                    <input type="text" class="form-control input-lg" name="tagPrefix" ng-model="tagPrefix.type" placeholder="Search tags" />
                  </div>
                </div>

                <ul class="list-group tag-list" ng-if="collData.entity_types.length > 4">
                  <li class="list-group-item tag-item" ng-repeat="tag in collData.entity_types | tagOrderFilter | filter:tagPrefix">
                    <div style="float:left" ng-if="tag.type != 'ALIAS' && tag.type != 'NON-CHARACTER' && tag.type != 'OTHER' && tag.type != '???' && tag.type != 'UNRESOLVED'">
                      <button class="btn btn-default btn-tag" context-menu="menuOptions" ng-style="{background: tag.bgColor}" style="text-shadow:none" ng-click="setTag(tag)" ng-disabled="!selectedEntity">{{ tag.type }}</button>
                    </div>

                    <!--<div style="float:right" ng-if="tag.type != 'ALIAS' && tag.type != 'NON-CHARACTER' && tag.type != 'OTHER' && tag.type != '???' && tag.type != 'UNRESOLVED'">-->
                    <!--  <button class="btn btn-warning change-tag-btn" ng-click="changeTag(tag)" ng-disabled="!selectedEntity"><span class="glyphicon glyphicon-repeat"></span></button>-->
                    <!--</div>-->
                  </li>
                </ul>

                <div style="text-align: center;">
                  <button class="btn btn-default non-tag-btn new-character-btn" ng-click="addNewTag()" ng-disabled="!selectedEntity">NEW CHARACTER</button>
                  <button class="btn btn-default non-tag-btn untag-btn" ng-click="untag()" ng-disabled="!selectedEntity">UNTAG</button>
                </div>
                <br>
                <div>
                  <ul class="list-group group-tag-list">
                    <li class="list-group-item tag-item" id="core-tag" ng-repeat="group in groupTags">
                      <div class="row">
                        <!--Using css classes to set the tag button background colours doesn't work here -->
                        <div class="col-md-4">
                          <button class="btn btn-default btn-tag" ng-style="{background: group.bgColor}" ng-click="setGroupTag(group.tags)" ng-disabled="!selectedEntity">{{ group.name }}</button>
                        </div>
                        <div class="col-md-8">
                          <button class="btn btn-default btn-tag" ng-style="{background: tag.bgColor}" style="text-shadow:none" ng-repeat="tag in group.tags">{{ tag.type }}</button>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
                <div style="text-align: center;">
                  <button class="btn btn-default non-tag-btn new-group-btn" ng-click="showGroupTagBuilder()" ng-disabled="!selectedEntity">NEW GROUP</button>
                </div>
              </div>
            </div>

            <h3 align="center">Log</h3>

            <div class="well well-sm" style="margin-bottom: 10px;" ng-controller="logController" style="width:300px;margin:auto">
              <div class="pre-scrollable" style="height:100px">
                <div style="overflow:hidden">
                  <ul style="list-style-type: none;">
                    <li style="margin: 15px 0;" ng-repeat="message in messages">{{ message.text }}</li>
                  </ul>
                </div>
              </div>
              <form style="border-top: 1px solid black; margin-top: 10px; padding-top: 10px; text-align: center" ng-submit="addMessage()">
                <input ng-model="newMessageText" />
                <button type="submit">Add Entry</button>
              </form>
            </div>

          </div>
        </div>

      </div>
    </div>
  </div>

</body>

</html>
